@model GestionFerias_CTPINVU.Models.Inscripcione

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Inscripcione</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TituloProyecto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TituloProyecto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescripcionProyecto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescripcionProyecto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstadoInscripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstadoInscripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsuarioCreacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsuarioCreacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaCreacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaCreacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsuarioModificacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsuarioModificacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaModificacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaModificacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Evento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Evento.EventoId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LiderUsuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LiderUsuario.UsuarioId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Subcategoria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Subcategoria.SubcategoriaId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TutorUsuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TutorUsuario.UsuarioId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.InscripcionId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
