@model GestionFerias_CTPINVU.Models.ResultadosEvento

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ResultadosEvento</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstadoResultados)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstadoResultados)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ResolucionFinal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ResolucionFinal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaPublicacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaPublicacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsuarioCreacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsuarioCreacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaCreacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaCreacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsuarioModificacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsuarioModificacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaModificacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaModificacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Evento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Evento.EventoId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JuezResponsableUsuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JuezResponsableUsuario.UsuarioId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ResultadoEventoId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
